beautifulsoup4
biopython
boto3
aiobotocore
botocore==1.31.17
click
-e ./module
ipython
joblib
matplotlib
numpy==1.17
pandas
PyYAML
regex
requests
scikit-learn
scipy
tensorboard
tokenizers
torch
tqdm
transformers
urllib3
wget
